.x-panel .touming {
filter: alpha(Opacity=80);
-moz-opacity: 0.5;
opacity: 0.5;
z-index: 100;
background-color: white;
}

.x-button .btn_up_icon {
	background-image: background-image: url('resources/images/icons/up_h.png') ; 
	width: 90px;
	height: 90px;
	background-position: center;
	display: block;
}

.x-panel .x-floating {
padding: 0px;
-webkit-border-radius: 0.3em;
border-radius: 0.3em;
-webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0.2em 0.6em;
background-image: none;
background-color: #03111A;
}