.x-container.touming, .x-panel.touming, .x-list.touming {
filter: alpha(Opacity=80);
-moz-opacity: 0.5;
opacity: 0.8;
z-index: 100;
background-color: white;
}


.x-container.topstrip {
	background-image: url('/ecat/resources/images/icons/topstrip.png');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #03111A;
	-webkit-background-size: 768px 20px; 
}

.x-title.toptitle{
font-size: 2.0em;
color:white;
}


.x-container.toolbar {
	background-image: url('/ecat/resources/images/icons/toolbar.png');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #03111A;
	-webkit-background-size: 768px 90px; 
}

.x-button.x-button-plain .x-button-icon {
-webkit-background-size: 90px 90px;;  
width: 90px;
height: 90px;
	
}

.x-button.x-button-plain{
background: none;
border: 0 none;
-webkit-border-radius: none;
border-radius: none;
min-height: 0;
text-shadow: none;
line-height: auto;
height: 1.9em;
padding: 0em 0em;
}

.x-button .btn_up_icon {
	background-image: url('resources/images/icons/up_h.png');
	-webkit-background-size: 110px 110px;  
	width: 90px;
	height: 90px;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
}

.x-panel.x-floating {
padding: 0px;
-webkit-border-radius: 0.3em;
border-radius: 0.3em;
-webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0.2em 0.6em;
background-image: none;
background-color: #03111A;
}

.contactdetailview {
	/*background:url('../../resources/images/icons/contact_back.png') no-repeat left top; */
	z-index: 2;
    background-attachment:fixed;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
}

.contactdetailview .x-form-label, .contactdetailview .x-field, .contactdetailview .x-toolbar-dark, .contactdetailview .x-form-field {
	background-color:black;
	color: white;
	background-image: none;
	background:transparent;
	font-size: 120%;
	/*filter: alpha(Opacity=0);
	-moz-opacity: 0.0;
	opacity: 0.0;*/
}

.contactdetailview .x-title {
	width: 100%;
}

.contactdetailview .odd{
	background-color: #302E2E;
}

.contactdetailview .even{
	background-color: #444040;
}

.collectactive {
	background-image : -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#061F31),color-stop(10%,#092E47),color-stop(65%,#0B3C5E),color-stop(100%,#0C3E60));
}
.x-button.black{
	color : white;
	background-image: -webkit-linear-gradient(top, #313131,#1A1919 3%,black);
	overflow: visible;
	border: 1px solid black;
	border-top-color: black;
}

.x-list-itemize {
font-weight: bold;
font-size: 2em;
min-height: 2em;
padding: 0.5em 1em;
}

.x-list-normal .x-list-item.x-item-selected .x-list-item-label {
border-top-color: #DEDEDE;
border-bottom-color: #DEDEDE;
}

.x-list-normal .x-list-item.x-item-selected .x-list-item-label {
	background-image: -webkit-linear-gradient(top, white,white 3%,white);
}

.x-list .x-list-item.x-item-selected .x-list-item-label {
color: #005C9D;
text-shadow: rgba(0, 0, 0, 0.5) 0 -0.08em 0;
}


