.x-panel.touming {
filter: alpha(Opacity=80);
-moz-opacity: 0.5;
opacity: 0.8;
z-index: 100;
background-color: white;
}

.x-button.x-button-plain .x-button-icon {
-webkit-background-size: 90px 90px;;  
width: 90px;
height: 90px;
	
}

.x-button.x-button-plain{
background: none;
border: 0 none;
-webkit-border-radius: none;
border-radius: none;
min-height: 0;
text-shadow: none;
line-height: auto;
height: 1.9em;
padding: 0em 0em;
}

.x-button .btn_up_icon {
	background-image: url('resources/images/icons/up_h.png');
	-webkit-background-size: 110px 110px;;  
	width: 90px;
	height: 90px;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
}

.x-panel.x-floating {
padding: 0px;
-webkit-border-radius: 0.3em;
border-radius: 0.3em;
-webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0.2em 0.6em;
background-image: none;
background-color: #03111A;
}

.contactdetailview {
	background:url('../../resources/images/icons/contact_back.png') no-repeat left top; 
    background-attachment:fixed;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
}

.contactdetailview .x-form-label, .contactdetailview .x-field, .contactdetailview .x-toolbar-dark, .contactdetailview .x-form-field {
	background-color:black;
	color: white;
	background-image: none;
	background:transparent;
	font-size: 120%;
	/*filter: alpha(Opacity=0);
	-moz-opacity: 0.0;
	opacity: 0.0;*/
}

.contactdetailview .x-title {
	width: 100%;
}
